.main-container {
    width: 1300px;
    height: 650px;
    margin: 100px auto;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.child-container {
    font-size: 18px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 0.5px solid rgb(214, 209, 209);
}

.child-of-child {
    margin: 0px 80px;
}

.child-of-child li {
    display: inline;
    font-size: 18px;
}

.child-of-child li+li:before {
    padding: 8px;
    color: black;
    content: "/";
}

.box--close {
    padding: 5px;
    position: absolute;
    right: 0px;
}

.container {
    display: flex;
}

.container-one {
    width: 850px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.container-two {
    width: 850px;
    height: 252px;
    display: flex;
}

.container--size {
    width: 240px;
    height: 200px;
}

.container-three {
    width: 445px;
    height: 606px;
    position: absolute;
    right: 0px;
    background-color: #F8F8FF;
}

.container--shadow {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.container-card {
    display: flex;
    padding: 20px;
    margin: auto;
    gap: 30px;
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 50px 250px;
}

.container--modify {
    width: 350px;
    padding: 11px;
    border: 1px solid black;
}

.container--btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.container--btn:hover {
    opacity: 1;
}

.container-division {
    display: flex;
    margin-top: 2px;
}

.container--size-half1 {
    width: 158px;
    display: inline;
}

.container--size-half2 {
    width: 158px;
    display: inline;
    margin-left: 10px;
}

.field-one {
    display: flex;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.image-logo {
    width: 45px;
    background-image: url(../images/background.jpg);
    padding: 3px;
}

.container-price {
    position: absolute;
    right: 0px;
    padding: 10px;
}

.container-total {
    display: flex;
    gap: 10px;
    position: relative;
    flex-direction: column;
    margin: 60px 0px 0px 10px;
}

.container--left {
    position: absolute;
    left: 0px;
    padding: 10px;
    margin-top: 100px;
}

.container--heading {
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .child-of-child {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .main-container {
        width: 850px;
        height: 1260px;
    }
    .container-three {
        left: 0px;
        width: 850px;
    }
    .container-one {
        margin-top: 615px;
    }
}

@media only screen and (max-width: 400px) {
    .main-container {
        height: 1910px;
    }
    .container-card {
        display: flex;
        flex-direction: column;
    }
    .container--size {
        width: 530px;
        height: 250px;
    }
    .container--size-half1 {
        width: 100px;
    }
    .container--size-half2 {
        width: 216px;
        margin-left: 10px;
    }
}

html {
    background-image: url(../images/background.jpg);
}